.App {
  text-align: center;
  background: #f7f7f7;
}

.app-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.buttons-grid {
  display: grid;
  grid-template-columns: 100px 100px;
  grid-gap: 20px;
}

.ant-popover-inner {
  width: 200% !important;
}

.start-node, .end-node {
  height: 64px;
  width: 224px;
  border-radius: 4px;
  line-height: 64px;
  color: #fff;
  text-align: center;
}

.start-node {
  background-color: #338aff;
}

.end-node {
  background-color: #666;
}

.other-node, .condition-node {
  width: 224px;
  border-radius: 4px;
  color: #666;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.08);
}

.other-node {
  height: 64px;
  padding: 16px;
  display: flex;
  flex-direction: column;
}

.condition-node {
  height: 32px;
  padding: 12px 16px;
}